/* styling for workspace sidebar */
.workspace-sidebar {
  width: 256px;
  height: 100%;
  background-color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  z-index: 50;
  box-shadow: 4px 0 6px rgba(122, 25, 182, 0.3);
}
[dir="rtl"] .workspace-sidebar {
  box-shadow: -4px 0 6px rgba(122, 25, 182, 0.3);
}
.workspace-sidebar img {
  width: 32px;
  height: 32px;
}
.workspace-sidebar .spaces .sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
}
.workspace-sidebar .spaces .sidebar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  color: #475569;
  font-weight: 600;
  cursor: pointer;
}
.workspace-sidebar .spaces .sidebar-nav .dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  gap: 0;
  color: #475569;
}
.workspace-sidebar .spaces .sidebar-nav .dropdown-list div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.workspace-sidebar .sidebar-footer {
  position: fixed;
  bottom: 0;
  inset-inline-start: 0;
  width: 256px;
  box-sizing: border-box;
  padding: 0 16px 12px;
  background: #fff;
}
.workspace-sidebar .sidebar-footer button {
  background-color: #5a0fbd;
  color: white;
  border: none;
  border-radius: 10px;
  width: 220px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
/* styling for create new space */
.overlay .create-container {
  background-color: #fff;
  border: 2px solid whitesmoke;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}
.overlay .create-container .form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.overlay .create-container .form-box label {
  color: #979797;
  font-weight: 500;
}
.overlay .create-container .form-box .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
}
.overlay .create-container .form-box .text input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #eff0f2;
  outline: none;
  margin-bottom: 10px;
}
.overlay .create-container .form-box .text textarea {
  resize: none;
  width: 100%;
  height: 70px;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #eff0f2;
  margin-bottom: 10px;
}
.overlay .create-container .form-box .text input::placeholder,
.overlay .create-container .form-box .text textarea::placeholder {
  color: #475569;
}
.overlay .create-container .form-box .icons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.overlay .create-container .form-box .icons .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 20px;
  width: 100%;
}
.overlay .create-container .form-box .icons .boxes .box {
  flex: 1;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #5a0fbd;
  background-color: #eff0f2;
}
.overlay .create-container .form-box .privacy {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.overlay .create-container .form-box .privacy .box {
  background-color: #eff0f2;
  width: 240px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
.overlay .create-container .form-box .privacy .box p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #475569;
}
.overlay .create-container .form-box .buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 15px;
}
.overlay .create-container .form-box .buttons button {
  border: none;
  height: 40px;
  width: 120px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
/* styling for create new task */
.overlay .taskPage{
  width: 600px;
  padding: 20px;
}
.overlay .taskPage .form-box,
.overlay .taskPage .form-box form{
  width: 100%;
}
.overlay .taskPage .form-box .text{
 width: 100%;
}
.overlay .taskPage .form-box .text input,
.overlay .taskPage .form-box .text textarea{
 width: 100%;
}
.overlay .taskPage .form-box .selected-info{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.overlay .taskPage .form-box .selected-info select{
  background-color: #eff0f2;
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
}
.overlay .taskPage .form-box .selected-info input{
  background-color: #eff0f2;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  padding:0px 10px ;
}
.overlay .taskPage .form-box .selected-info > div{
 display: flex;
 align-items: center;
 gap: 40px;
}
.overlay .taskPage .form-box .selected-info div .box{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 5px;
}
.overlay .taskPage .form-box .selected-info div .box:last-child{
  margin-left: 50px;
}
.overlay .taskPage .form-box .subtasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.overlay .taskPage .form-box .subtasks input{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 24px;
  background-color: #eff0f2;
  border: none;
  outline: none;
  height: 40px;
}
/* styling for create new note */
.overlay .create-container .form{
  width: 100%;
}
.overlay .create-container .form .text{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.overlay .create-container .form .text input{
  width: 100%;
  height: 40px;
  border-radius: 15px;
  padding: 0 10px;
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: #eff0f2;
}
.overlay .create-container .form .note-type{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
}
.overlay .create-container .form .note-type .boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.overlay .create-container .form .note-type .boxes .box{
  flex: 1;
  background-color: #eff0f2;
  border: 1px solid #5a0fbd;
  height: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.overlay .create-container .form .note-type .boxes .box p{
  margin-top: 0;
}
.overlay .create-container .form .buttons{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 15px 0;
}
.overlay .create-container .form .buttons button{
  background-color: transparent;
  color: #979797;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
/* styling for image note */
.overlay .img-note form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.overlay .img-note form input{
  border: none;
  outline: none;
  margin-top: 15px;
}
/* styling for draw note */

/* styling for workspace settings */
.main-container, .main-container *{
  box-sizing: border-box;
}
.app-container .main-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
  width: 100%;
}
.app-container .main-container .general-box{
  background-color: white;
  height: max-content;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  width: 100%;
}
.app-container .main-container .general-box textarea{
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid #cbd5e1;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.app-container .main-container .general-box label{
  color: #475569;
}
.app-container .main-container .general-box input{
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #cbd5e1;
}
.app-container .main-container .spaces-box{
  width: 100%;
  background-color: white;
  border: 1px solid #cbd5e1;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.app-container .main-container .spaces-box .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #efe7f9;
  width: 100%;
  padding: 10px 10px 10px 0px;
}
.app-container .main-container .spaces-box .box img{
  width: 40px;
  height: 40px;
}
.app-container .main-container .spaces-box .box .buttons{
  display: flex;
  align-items: center;
  gap: 10px;
}
.app-container .main-container .spaces-box .box .buttons button{
 border: none;
  background-color: transparent;
  color: #475569;
  font-size: 17px;
  cursor: pointer;
}
.app-container .main-container .members-box,
.app-container .main-container .notifications-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #efe7f9;
  padding: 0 20px;
  margin-bottom: 20px;
}
.app-container .main-container .danger-zone{
  width: 100%;
  height: 150px;
  background-color: #fef2f2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 20px;
  border-radius: 15px;
  border: 1px solid #feeaea;
}
/* style for update task */
.overlay .delete-page .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.overlay .delete-page .buttons button{
  flex: 1;
  height: 40px;
  border: none;
  border-radius: 8px;
}
.normal-item{
 background-color: #efe7f9;
}
.active-item{
  background-color: #efe7f9;
  color: #5a0fbd;
}